* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    max-width: 100%;
}


/* start header */

header {
    height: 3rem;
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(88, 148, 129);
}

#facebook,
#insta,
#twitter,
.ri-more-fill {
    color: white;
    font-size: 1rem;
}

#main-title {
    margin-top: 0.5rem;
    height: 2rem;
    width: 2rem;
}

#face-btn,
#insta-btn,
#twitter-btn {
    background-color: black;
    border: 0px;
    cursor: pointer;
}

.face-ch {
    background-color: rgb(88, 148, 129) !important;
}


/* end header */


/* start main img */

#main-img {
    width: 100%;
}

hr {
    margin-top: 5rem;
    height: 5px;
    background-color: rgb(88, 148, 129);
}

.hr2 {
    margin-top: 0;
    margin-bottom: 10px;
}

#videos-style {
    height: 400px;
    width: 100%;
    border: 0px solid;
}


/* end main img */

.category {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.category button {
    background: none;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    height: 40px;
    transition: all 0.3s ease-in-out;
}

.category button:hover {
    color: rgb(88, 148, 129);
    text-decoration: underline;
}
.category button:focus{
    color: rgb(88, 148, 129);
    text-decoration: underline;
} 

.imgs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    text-align: center;
}

#api-img {
    width: 200px;
    border-radius: 10px;
    transition: all 1s;
}

#api-img:hover {
    width: 250px;
    opacity: .7;
}

#api-img-category {
    max-width: 200px;
}


/* start our story */

#description-result {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#description-of-img-or-video {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-family: "Roboto Slab", serif;
    font-size: 1rem;
}

#title-of-img-or-video {
    color: rgb(88, 148, 129);
    font-family: "Roboto Slab", serif;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
}


/* footer */

.footer {
    padding: 20px;
    background-color: rgb(88, 148, 129);
    display: flex;
    flex-direction: column;
    border: 6px solid rgb(75, 105, 96);
    border-top: none;
}

.footer-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 180px;
    margin-bottom: 50px;
}

.footer-item h2 {
    color: white;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    text-decoration: underline;
}

.about p {
    color: rgba(0, 0, 0, 0.849);
    font-size: 1.2rem;
}

.contact h3 {
    color: rgba(0, 0, 0, 0.575);
    margin-bottom: 10px;
}

.fa-brands {
    margin-left: 0.2rem;
}

.contact p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.links ul,
.follow ul {
    list-style-type: none;
}

.links li,
.follow li {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

.links li:hover,
.follow li:hover {
    color: #384b45;
    cursor: pointer;
}

.licence {
    text-align: center;
}

@media (max-width: 768px) {
    .footer {
        display: flex;
    }
    .footer-item {
        width: 100%;
    }
    .footer h2 {
        width: 100%;
        font-size: 1.3rem;
    }
    .contact p {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    /* start header */
    header {
        height: 4rem;
    }
    #main-title {
        height: 3rem;
        width: 3rem;
    }
    #facebook,
    #insta,
    #twitter,
    .ri-more-fill {
        font-size: 1.5rem;
    }
    /* end header */
    /* start main img */
    #main-img {
        height: 600px;
        object-fit: cover;
    }
    #videos-style {
        height: 600px;
    }
    /* end main img */

    .category button{
        font-size: 1.5rem;
    }
    /* start about us */
    #description-result {
        align-items: flex-start;
        margin-left: 1rem;
    }
    #title-of-img-or-video {
        color: rgb(88, 148, 129);
        font-size: 1.5rem;
        height: 2rem;
    }
    #description-of-img-or-video {
        font-size: 1.5rem;
        margin-left: 1rem;
    }
    /* end about us */
    /* start box image */
    #api-img{
        width: 250px;
    }
    #api-img:hover{
        width: 300px;
    }

    /* end box image */
    /* footer */
    .footer {
        flex-direction: row;
        justify-content: space-around;
    }
    .footer-item {
        height: 40%;
        width: 20%;
        margin-bottom: 0px;
    }
    .footer-item h2 {
        font-size: 1.4rem;
    }
    
    .contact p {
        font-size: 0.8rem;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .about p {
        font-size: 0.9rem;
    }
    .mail {
        font-size: 1rem;
    }
}

@media (min-width: 1441px) and (max-width: 2561px) {
    /* start header */
    header {
        height: 7rem;
    }
    #main-title {
        height: 5.5rem;
        width: 5.5rem;
    }
    #facebook,
    #insta,
    #twitter,
    .ri-more-fill {
        font-size: 3rem;
    }
    /* end header */

    .category button{
        font-size: 2rem;
    }
    /* start about us */
    #description-result {
        align-items: flex-start;
        margin-left: 2rem;
    }
    #title-of-img-or-video {
        color: rgb(88, 148, 129);
        font-size: 2.5rem;
        height: 4rem;
    }
    #description-of-img-or-video {
        font-size: 2rem;
    }
    /* end about us */

    /* start box image */
    #api-img{
        width: 400px;
    }
    #api-img:hover{
        width: 450px;
    }

    /* end box image */

    /* footer 4k */
    .footer {
        flex-direction: row;
        justify-content: space-around;
    }
    .footer-item {
        height: 40%;
        width: 20%;
        margin-bottom: 0px;
    }
    .footer-item h2,
    h3 {
        font-size: 2rem;
    }
    .contact p {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .about p {
        font-size: 1.5rem;
    }
    .mail {
        font-size: 1rem;
    }
    .footer li {
        font-size: 1.6rem;
    }
}